<tr>
    <td class="pl-3">
        <input type="checkbox">
    </td>
    <td> <span class="mb-0 text-muted">Test</span></td>
    <td> <a class="link"> <span class="text-dark">Lorem ipsum
                perspiciatis-</span> </a></td>
    <td class="text-muted">May 5</td>
</tr>