<tr class="mailEntry">
    <td class="pl-3">
        <input class="inboxCheck" type='checkbox'></td>
    <td> <span class="mb-0 text-muted username"><%=mail.from.username%></span></td>
    <td> <a class="link"> <span class="text-dark subject"><%=mail.subject%></span> </a></td>
    <td class="text-muted date"><%=mail.date%></td>
    <input type='hidden' name="msg" value="<%=mail._id%>" />
</tr>