<tr>
    <td class="pl-3">
        <input type="checkbox">
    </td>
    <td> <span class="mb-0 text-muted">Test</span></td>
    <td> <a class="link"> <span class="text-dark"><%=mail.subject%></span> </a></td>
    <td class="text-muted"><%=mail.date%></td>
    <input type='hidden' name="msg" value="<%=mail._id%>" />
</tr>