<div class="modal fade hide" id="loginModal" aria-labelledby="loginModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalTitle">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="col-md-8 offset-md-1" action="/login" method="POST">
                    <div class="form-group">
                        <input type="username" class="form-control mb-3 mt-3" id="loginEmail" placeholder="Email"
                            name="username" /><label for="inputEmail4"></label>

                        <input type="password" class="form-control mb-3 mt-3" id="loginPassword" placeholder="Password"
                            name="password" />
                        <input id="loginSubmit" type="submit" value="Login" class="btn btn-outline-primary" />
                        <div id="errTextLogin" class="alert alert-danger m-3" style="display: none"></div>
                    </div>
                </form>
                <div class="modal-footer">
                    <a class="float-right" data-dismiss="modal" data-toggle="modal" data-target="#signupModal">New user?
                        Sign up here</a>
                </div>
            </div>
        </div>
    </div>
</div>