<nav class="navbar navbar-expand-sm navbar-inverse  navbar-light">

    <ul class="navbar-nav">
        <a class="navbar-brand" href="#">Website Title</a>
        <li class="nav-item active">
            <a class="nav-link" href="#">Post Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Search Books</a>
        </li>

    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <% if(user) { %>
            <a class="nav-link" href="#">Logout</a>
            <% }else{%>
            <button type="button" class="btn btn-primary float-right" data-dismiss="modal" data-toggle="modal"
                data-target="#loginModal">Login</button>
            <% } %>
        </li>
    </ul>
</nav>