.classified-img{
    object-fit: contain;
}

.search-img{
    max-width: 20em;
}

.fa-plus-circle{
    color: green;
    size: 4em;
}

.compose{
    margin-top: 2em;
    background: rgb(231, 243, 237);
    border-radius: 2em;
}

.mdl-textfield__label{  
    margin-bottom:0px;
  }

.scrollable{
    overflow: auto;
    height: 60vh;
}

.sticky{
    position: sticky;
    top: 0;
    z-index: 2;
}
.mailEntry{
    transition: 0.3s;
}
.mailEntry:hover{
    cursor: pointer;
    background-color: #b2d8b4 !important;
    color: white !important;
}

.inboxSort{
    border: none;
    background: transparent;
    text-transform: capitalize;
}

.inboxSort:hover{
    cursor: pointer;
    text-decoration: underline;
    
}

.inboxCheck
{
    transform: scale(2);

}

body{
    background: #e1f0f9;
}

/* .card-color-main{
    background:#87898b;
}

.card-color-input{
    background:#f5fafd;
}

.navbar{
    background:#87898b;
} */

.classifiedText{
    height: 60 px;
}

.splash
{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4) ), url("../web-images/jumbo-bg.jpg");
    /* background-image:  */
    background-size: cover;
}

.text-outline
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}