.classified-img{
    object-fit: contain;
}

.fa-plus-circle{
    color: green;
    size: 4em;
}

.compose{
    margin-top: 2em;
    background: rgb(231, 243, 237);
    border-radius: 2em;
}

.mdl-textfield__label{  
    margin-bottom:0px;
  }

.scrollable{
    overflow: auto;
    height: 60vh;
}

.sticky{
    position: sticky;
    top: 0;
}