.classified-img{
    object-fit: contain;
}

.fa-plus-circle{
    color: green;
    size: 4em;
}

.compose{
    margin-top: 2em;
    background: rgb(231, 243, 237);
    border-radius: 2em;
}

.mdl-textfield__label{  
    margin-bottom:0px;
  }

.scrollable{
    overflow: auto;
    height: 60vh;
}

.sticky{
    position: sticky;
    top: 0;
}
.mailEntry{
    transition: 0.3s;
}
.mailEntry:hover{
    cursor: pointer;
    background-color: #b2d8b4 !important;
    color: white !important;
}

.inboxSort{
    border: none;
    background: transparent;
    text-transform: capitalize;
}

.inboxSort:hover{
    cursor: pointer;
    text-decoration: underline;
    
}